html,
body,
#root,
.container {
    height: 100%;
}

body {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    overflow: hidden;
}

.container > .columns {
    height: 100%;
}
